[Unit]
Description=Add wheel members to libvirt group

[Service]
Type=oneshot
ExecStart=/usr/libexec/dx-libvirt-groups
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
