[Unit]
Description=Add wheel members to incus-admin group

[Service]
Type=oneshot
ExecStart=/usr/libexec/dx-incus-groups
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
